.node_modules
node_modules
DS_Store
.DS_Store
./index.ts
./dist
./dist/*
./dist/**/*
dist 
dist/*
typings
typings/*
index.ts
dist
dist/*
dist/**/*
node_modules
.yarn/build-state.yml
.yarn/install-state.gz